#preloader-wrapper {
    position: fixed;
    inset: 0;
    background-color: var(--color-bg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 999;
    opacity: 1;
    gap: 15px;
    visibility: visible;
    transition: opacity .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.preloader-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 4% 0 2%;
}

.preloader-content img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.preloader-content h1 {
    font-size: 3rem;
}

.dot {
    width: 35px;
    height: 35px;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 50px;
}

.progbar {
    width: 0px;
    height: 4px;
    background-color: var(--color-primary-500);
    animation: progress-glow 5s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.dot-outer {
    background-color: transparent;
    width: 55px;
    height: 55px;
    border: 4px solid;
    border-color: var(--color-primary-500) var(--color-primary-500) var(--color-primary-500) transparent;
    box-shadow: 0px 0px 5px var(--color-icon-bg);
    animation: border-rotate 1.5s infinite;
}