.grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    padding: 0 10px;
    gap: 20px;
}

.people {
    overflow: hidden;
    max-width: none;
    transition: transform .7s cubic-bezier(0.175, 0.885, 0.32, 1.275), border .4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .4s cubic-bezier(0.215, 0.610, 0.355, 1), background-color .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 16px 18px ;
    border: 1px solid var(--sand);
    pointer-events: auto;
    background-color: var(--color-surface-500);
}
.people .labelTag {
    display: block;
}
.labelTag:has(.badge) {
    background: none;
    right: 0;
}
.person-zodiac {
    display: none !important;
}
.people * {
    transition: none;
}
.people.row-2 {
    grid-column: 1 / span 2;
}
.people.span-1 {
    grid-column: span 27;
}
.people.span-2 {
    margin-top: 6em;
    grid-row: span 23;
}

.people:hover {
    cursor: pointer;
}

.people .people-img {
    object-fit: cover;
    width: 150px;
    border-radius: 0;
    height: 150px;
    background: rgba(117, 115, 113, 0.1) url('/assets/logo/lyra.webp') no-repeat;
    background-position: center center;
}

.people .people-img.centered img, .people-type .people-img.centered img {
    object-position: center center;
}

.people:hover .name {
    border-top-color: var(--color-primary-500);
}
.people:hover h2, .people.focus h2 {
    padding-left: 0;
}
.people-img:has(img) {
    background: rgba(100, 100, 100, 0) no-repeat !important;
}

.people .people-img img {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 100%;
    object-position: center center;
    background-color: rgba(131, 131, 131, 0.034);
    aspect-ratio: 3 / 4;
}


.badge::before, .people .name h2::before {
    display: none;
    content: "";
    position: absolute;
    left: 0px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--color-primary-500);
}

.people .name {
    row-gap: 3px;
}

.people .people-bio {
    user-select: none;
    width: 100%;
    gap:24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    transition: opacity .2s, transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.people .name h2 {
    display: flex;
    position: relative;
    font-family: var(--serif);
    color: var(--color-text-main);
    font-size: 24px;
    font-weight: 400;
}

.people .role {
    font-size: 14px !important; 
    word-spacing: 4px;
    text-transform: uppercase;
}

.people .people-bio span {
    color: var(--color-primary-500);
    font-weight: 500;
    font-size: 20px;
}

.people .people-bio .alias {
    font-weight: 700;
    color: inherit !important;
}

.people .alias::after {
    content: "|";
    margin: 0 8px;
}

.people .people-btns {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.people .social-media {
    background-color: transparent;
    gap: 26px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.people .social-media span {
    display: none;
}

.people .social-media i:hover {
    color: var(--color-primary-900);
}

.people-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px #808080;
}

.people .social-media i[class="ri-instagram-line"] {
    position: relative;
    background: #833ab4;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.people .social-media i[class="ri-tiktok-fill"] {
    position: relative;
    background: transparent;
    color: inherit;
}

@media (max-width: 1024px) {
    .people {
        transition: none !important;
    }
    .grid .people.expr {
        margin-left: 0;
    }
    .grid.rtl .people.expr {
        margin-right: 0;
    }
    .grid {
        gap: 30px;
    }
}

@media (max-width: 920px) {
    .section-header {
        margin: 10px 14px;
    }
    .section-title.title {
        line-height: normal;
    }
}

@media (max-width: 768px) {
    .people {
        width: 100%;
        max-width: none;
    }
    .grid.rtl, .grid.two-column {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px 10px 16px 10px;
        gap: 1.2em !important;
        direction: ltr;
    }
    .people.row-2 {
        grid-column: unset;
    }
    .people.span-2 {
        grid-column: unset;
        grid-row: unset;
        margin-top: 0;
    }
}
