.people-panel {
    width: 540px;
}

.side-panel .people-type, .side-panel .people-name {
    width: 100%;
    padding: 0 6px;
}

.side-panel .people-banner {
    display: none;
}

.side-panel .people-info, .side-panel .people-bio {
    padding-inline: 16px;
}

.side-panel .people-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4em;
}

.side-panel .people-name {
    column-gap: 24px;
    order: -1;
}

.people-name * {
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: left;
}

.side-panel .badge-row {
    justify-content: flex-start;
}

.side-panel .people-img {
    width: 150px;
    height: 150px;
    justify-content: flex-start;
    border: none;
    margin-inline: 0px;
}

.side-panel .people-img img {
    width: 150px;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    padding: 0 16px;
    gap: 20px;
    overflow: hidden;
}
.grid.rtl {
    direction: rtl;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 1vw;
}
.people {
    grid-row: span 20;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), border .4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .8s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: 8px 6px;
    pointer-events: auto;
    border: none;
}

.people * {
    opacity: 0;
    transition: none;
    pointer-events: none;
    transform: translateY(-20px);
}

.people *.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.people.row-2 {
    grid-column: 1 / span 2;
}
.people.span-1 {
    grid-column: span 27;
}
.people.span-2 {
    margin-top: 6em;
    grid-row: span 23;
}

.people:hover {
    cursor: pointer;
}

.people .people-img {
    object-fit: cover;
    transition: inherit;
    border-radius: 0;
}

.people:hover .name {
    border-top-color: var(--color-primary-500);
}

.people-img:has(img) {
    background: rgba(100, 100, 100, 0) no-repeat;
}

.people .people-img img {
    object-fit: cover;
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    background-color: rgba(131, 131, 131, 0.034);
    aspect-ratio: 3 / 4;
}

.people .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 2px;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .4s;
    padding: 4px 0 7px 0;
    width: 100%;
    order: -1;
    top: 0;
    position: relative;
}


.people .name::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    background-color: var(--color-border-100);
    height: 1px;
    transition: width 2s cubic-bezier(1, 0, 0, 1), background-color .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.people *.visible .name::before {
    width: 100%;
}

.people .name h2::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    bottom:-2px;
    width: 0;
    height: 1px;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--color-primary-500);
}

.people .people-bio {
    user-select: none;
    padding: 0px;
    gap:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: opacity .2s, transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.people .name h2 {
    width: auto;
    position: relative;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: var(--color-text-main);
    font-size: 15px;    
    padding-bottom: 2px;
    letter-spacing: 1.15px;
    font-family: var(--sans-serif);
    font-weight: 500;
}

.people:hover .name h2::before, .people.focus .name h2::before {
    width: 50%;
}

.person-zodiac {
    display: none !important;
}

.people .role {
    position: relative;
    text-align: right;
    font-size: 15px; 
    letter-spacing: .90px;
    text-transform: uppercase;
    font-family: var(--sans-serif);
    color: rgba(100, 100, 100, 0.65);
    font-weight: 500;
}

.people .people-bio .alias {
    font-weight: 700;
    color: inherit;
}

.people .alias::after {
    content: "|";
    margin: 0 8px;
}

.people .people-bio p {
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    max-height: calc(2em * 5);
    display: none;
    line-clamp: 4;
    font-weight: 400;
    box-orient: vertical;
    text-overflow: ellipsis;
}

.people-bio p.empty {
    color: rgb(100, 100, 100);
}

.people .social-media a {
    color: inherit;
}

.people .people-btns {
    display: none;
    flex-direction: column;
    margin-bottom: 18px;
    padding: 0px 20px 10px 20px;
    justify-content: space-between;
}

.people .social-media {
    gap: 2em;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 8px 10px;
    padding: 6px 10px;
    background-color: rgba(100, 100, 100, 0.05);
}

.people .social-media span {
    display: none;
}

.people .social-media i {
    padding: 4px;
    font-size: 32px;
}

.people .social-media i:hover {
    color: var(--color-primary-100);
}

.people-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px #808080;
}

.people .social-media i[class="ri-instagram-line"] {
    position: relative;
    background: #833ab4;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.people .social-media i[class="ri-tiktok-fill"] {
    position: relative;
    background: transparent;
    color: inherit;
}

@media (max-width: 900px) {
    .grid {
        padding: 4px 4px 4px 4px;
        gap: 10px;
    }
    .grid.rtl, .grid.two-column {
        grid-template-columns: repeat(2, 1fr);
        padding: 4px 4px 4px 10px;
    }
    .people.row-2 {
        grid-column: unset;
    }
    .people.span-2 {
        grid-column: unset;
    }
    .grid .people.expr {
        margin-left: 0;
    }
    .grid.rtl .people.expr {
        margin-right: 0;
    }
    
    .people .name {
        padding-top: 2px;
        margin-bottom: 4px;
        flex-direction: row;
        align-items: center;
    }

    .people .name h2 {
        font-size: 16px;
        width: auto;
    }
    
    .people .people-bio span {
        text-align: right;
        font-size: 16px;
        width: auto;
        font-weight: 500;
    }

    .people .people-bio p {
        padding: 0px 1.3em 40px 1.3em;
    }
    .side-panel .people-type {
        flex-wrap: wrap;
    }
    .side-panel .name {
        flex-direction: column;
        align-items: flex-start;
    }
    .side-panel .nickname {
        text-align: left;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid.rtl, .grid.two-column {
        grid-template-columns: repeat(1, 1fr);
        padding: 4px 2px 4px 2px;
        gap: 4px;
    }
    .people {
        grid-row: unset;
        padding: 4px 6px;
    }
    .people.span-2 {
        grid-row: unset;
        margin-top: 0;
    }
    .people .people-img, .people .people-img img {
        object-position: center center;
    }
}