@font-face {
    font-family: "Source Serif 4";
    src: url("/assets/fonts/SourceSerif4-VariableFont_opsz\,wght.woff2") format('woff2'); /* fix sementara */
    font-display: swap;
}
@font-face {
    font-family: "Source Serif 4";
    src: url("/assets/fonts/SourceSerif4-Italic.woff2") format('woff2'); /* fix sementara */
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-VariableFont_wght.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Open-Dyslexic';
    src: url("/assets/fonts/OpenDyslexic-Regular.otf") format('opentype');
    font-display: swap;
}

dialog .content-notop {
    margin-top: -1.5em;
}

dialog:has(.content-notop) .dialog-header {
    background-color: transparent;
}

.search-panel {
    overflow: hidden;
}

input[type=search] {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.05);
    outline: none;
    font-family: var(--sans-serif);
}

input[type="search"]:focus {
    border-color: var(--color-primary-500);
}

.search-panel .search-result {
    box-sizing: border-box;
    margin-top:5em;
    height: 100%;
    max-height: 80vh;
    overflow-y: visible;
    padding-bottom: 20px;
}

.lyra-labs-greeting {
    margin-top: -4em;
    background: url('https://fastly.picsum.photos/id/974/640/480.jpg?hmac=KO9ztL68doOEBSvgxI-AhGVEp4ucUGQDBLSD2duquV4') no-repeat;
}

.greeting-content {
    padding: 4em 30px;
}

.project-diana .content {
    padding-inline: 28px;
}

dialog:has(.lyra-labs-greeting) .dialog-header {
    background-color: transparent;
}

.gallery-container img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .4s cubic-bezier(0.075, 0.82, 0.165, 1), transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.visible, .gallery-container img.visible {
    opacity: 1;
    transform: translateY(0px);
}

.video-container, .ctr-1 {
    padding: 0px 120px;
    transition: padding 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    backface-visibility: hidden;
}

.video-container .video {
    border-radius: 42px;
}

.video, .image {
    position: relative;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.features .flex-box {
    opacity: 0;
    transform: translateY(-30px);
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.highlight {
    background: var(--color-primary-500);
    background-blend-mode: difference;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.hero {
    width: 100%;
    padding: 0;
}

.hero i {
    font-family: 'Lineicons';
}

.hero video {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers the video */
    /* The key property: ensures the video covers the container while maintaining its aspect ratio */
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(15, 8, 0, 0.87);
}

.wrapper .section {
    display: flex;
    flex-direction: column;
}

.search-only-icon {
    display: inline-flex;
}

.search-button {
    display: none;
    padding: 10px 22px;
}

.header-container.scrolled .search-only-icon { display: none; }
.header-container.scrolled .search-button { display: inline-flex; }

.search-button i {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .form-group.fixed {
        position: relative;
        left: 0; right: 0
    }
    .search-panel .content-notop {
        margin-top: 20px;
    }
    .search-panel .search-result {
        margin-top: 50px;
    }
}