@font-face {
    font-family: "Source Serif 4";
    src: url("/assets/fonts/SourceSerif4-VariableFont_opsz\,wght.woff2") format('woff2'); /* fix sementara */
    font-display: swap;
}
@font-face {
    font-family: "Source Serif 4";
    src: url("/assets/fonts/SourceSerif4-Italic.woff2") format('woff2'); /* fix sementara */
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-VariableFont_wght.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Open-Dyslexic';
    src: url("/assets/fonts/OpenDyslexic-Regular.otf") format('opentype');
    font-display: swap;
}


.gallery-container img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .4s cubic-bezier(0.075, 0.82, 0.165, 1), transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.visible, .gallery-container img.visible {
    opacity: 1;
    transform: translateY(0px);
}

.video-container, .ctr-1 {
    padding: 0px 120px;
    transition: padding 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    backface-visibility: hidden;
}

.video-container .video {
    border-radius: 42px;
}

.video, .image {
    position: relative;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.features .flex-box {
    opacity: 0;
    transform: translateY(-30px);
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.highlight {
    background: var(--color-primary-500);
    background-blend-mode: difference;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.hero {
    width: 100%;
    padding: 0;
}

.hero i {
    font-family: 'Lineicons';
}

.hero video {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers the video */
    /* The key property: ensures the video covers the container while maintaining its aspect ratio */
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(15, 8, 0, 0.87);
}

.wrapper .section {
    display: flex;
    flex-direction: column;
}